GENSHIN_DAILY_TASK_URL="https://act.hoyolab.com/ys/event/signin-sea-v3/index.html?act_id=YOUR_ID&lang=ru-ru"
ICON_CHECK_SELECTOR="//div[contains(@class, 'actived-day')]/parent::*"
CHROME_EXECUTABLE_PATH="/usr/bin/google-chrome"