[Unit]
Description=Genshin Hoyolab Auto Click

[Service]
Type=simple
WorkingDirectory=/storage/workspace/genshin-click
ExecStart=/storage/workspace/genshin-click/.venv/bin/python main.py

Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/nik/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=HOME=/home/nik

[Install]
WantedBy=default.target