[Unit]
Description=Genshin Hoyolab Auto Click

[Service]
Type=oneshot
WorkingDirectory=/home/nik/WORKSPACE/GENSHIN_CLICK

ExecStart=/home/nik/WORKSPACE/GENSHIN_CLICK/.venv/bin/python /home/nik/WORKSPACE/GENSHIN_CLICK/main.py

Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/nik/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=HOME=/home/nik